@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin :15% 0 0 0;  
  padding:50px;
  font-size:16pt;
  background-color: #e9f5e7;
}
.noselect {
    -khtml-user-select: none; /* Konqueror HTML */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.time-picker {
  display:flex;
  align-items:center;
  margin:0 auto;
  width:200px;
  height:50px; /*border size change*/
  justify-content:space-evenly;
  border:3px solid #b8e0cf;
  border-radius:30px; /*curve rect*/
  padding:25px;
}
.tp-col {
  display:flex;
  flex-direction:column;
  align-items: inherit;
  
}
.tp-hr>span,.tp-min>span {
  border:2px solid #b8e0cf;
  padding:8px 8px ;
  border-radius:4px;
  width:25px;
  text-align:center;
  font-size:18pt;
}

.tp-am-pm {
  cursor:pointer;
  display:block;
  padding:1px 3px;
  border-radius:5px;
}
.tp-am-pm:hover {
  background:#eaeaea;
}

.time-picker-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px; /*height*/
    color:#1d9462
    }

.time-picker {
    margin: 0 30px; /* space between time pickers */
}
.to-text {
    margin: 0 12px;
    align-self: center;
    font-size: larger;
    color: #1d9462;
    
}
.gg-sun svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-family: Comic Sans ms, cursive;
  /* position: absolute; */
  top: 20px;
  left: 0;
  margin: 20px; 
  color:#1d9462;
  font-size: 30px;
}

input {
    width: 60px;
    height: 60px;
    border: 2px solid #b8e0cf;
    border-radius: 5px;
    box-sizing: border-box;
    padding: auto 15px;
    text-align: center;
    color: #1d9462;
    background-color: #e9f5e7;
    font-size: 25px
  }